<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HelloWorld.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1.3</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>205FA47E851BBF8FD35F29F10D3F122F0BF8B093</string>
				<key>dateExpires</key>
				<string>16/03/23</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>205FA47E851BBF8FD35F29F10D3F122F0BF8B093</string>
						<key>dateExpires</key>
						<string>16/03/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>OpenSSL.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5UMW44USRA</string>
						<key>name</key>
						<string>Won Up LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.180</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>5UMW44USRA.com.WonUp.AppStore</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>5UMW44USRA</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>HelloWorld.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f11c0445-0f89-4b1e-9cbb-76b8681fd771</string>
				<key>dateExpires</key>
				<string>21/03/23</string>
				<key>name</key>
				<string>Developer WonUp Provisional</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5UMW44USRA</string>
				<key>name</key>
				<string>Won Up LLC</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
